<hr>
<div class="row">
    <div class="col-sm-2">
    <p class="mb-0"> <%= id %> </p>
    </div>
    <div class="col-sm-4">
    <p class="mb-0"> <%= head %> </p>
    </div>
    <div class="col-sm-5">
    <p class="text-muted mb-0"><%= body %></p>
    </div>
</div>