<% content_for :title, "Modifica addetto" %>

<br>
<div class="container">
  <div class="row">
    <div class="col-md-8 align-self-center">
      <h1> Modifica Addetto </h1>
    </div>
  </div>
</div>

<%= render "form", cleaner: @cleaner %>