<% content_for :title, "Modifica Lavoro Programmato" %>

<h1>Modifica Lavoro Programmato</h1>

<%= render "form", repeatable_job: @repeatable_job %>

<br>

<%= render "shared/tables", cleaners: @cleaners, sites: @sites%>